/* @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("OpenSans-Regular"),         
         url(../fonts/OpenSans-Regular.ttf) 
         format("ttf");    
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("OpenSans-SemiBold"),         
         url(../fonts/OpenSans-SemiBold.ttf) 
         format("ttf");    
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("OpenSans-Bold"),         
         url(../fonts/OpenSans-Bold.ttf) 
         format("ttf");    
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("OpenSans-Italic"),         
         url(../fonts/OpenSans-Italic.ttf) 
         format("ttf");    
} */


:root{
    --color-main:#333333;
    --color-black:#000000;
    --color-white:#FFFFFF;
    --color-purple-1:#7943A4;
    --color-purple-2:#9D5CD0;
    --color-purple-3:#C283F3;
    --color-purple-4:#D1A9F0;
    --color-pink:#D88F99;

    --main: #9d5cd0;
    --two: #7943a4;
    --outline: 2px solid var(--main);
}

/*TAGS*/

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

*:focus{
    outline: none;
}

body {
    min-height: 100vh;
}

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

p{
    line-height: 32px;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul, menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/*visually-hidden*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
}

/*container*/

.container{
    width: 1600px;
    margin: 0 auto;    
}

/*HEADER*/

.header{
    position: fixed;    
    width: 100%;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/*header__top*/

.header__top {
    background-color: var(--color-black);
    padding: 30px 0;
}

.header__logo {
    display: block;
    width: 173px;
    height: 39.9px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 172px;
}

.header__logo:focus {
    outline: 3px solid var(--color-purple-1);        
}

.header__nav {
    flex-grow: 1;
}

.header__nav-list{
    display: flex;
}

.header__nav-item{
    margin-right: 46px;
}

.header__nav-item:last-child{
    margin-right: 0;
}

.header__nav-link{    
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
    transition: color .2s ease-in-out;
    padding: 8px;
}

.header__nav-link:hover{    
    color: var(--color-purple-3);
}

.header__nav-link:focus{    
    color: var(--color-purple-1);
}

.header__nav-link:active{    
    background-color: var(--color-purple-1);
    color: var(--color-white);
}

.header__private {
    font-size: 18px;
    color: var(--color-white);    
    background-repeat: no-repeat;
    background-position: 10% 52%;
    background-image: url(../img/icon-private.svg);    
    padding: 8px 8px 8px 28px;
    transition: color,background-image .2s ease-in-out;
}

.header__private:hover {    
    color: var(--color-purple-3);
    background-image: url(../img/icon-private-hover.svg);    
}

.header__private:focus {    
    color: var(--color-purple-2);
    background-image: url(../img/icon-private-focus.svg);    
}

.header__private:active {    
    background-color: var(--color-purple-1);
    color: var(--color-white);
    background-image: url(../img/icon-private.svg);    
}

/*header__bottom*/

.header__bottom {    
    background-color: rgba(0, 0, 0, 0.4);
}

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
}
  
.header__item {
    position: relative;    
    height: 70px;
    margin-right: 85px;
}
  
.header__item-btn {
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    padding-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
  
.header__item-btn:hover,
.header__item-btn:focus {
    color: var(--main);
}
  
.header__item-btn::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    margin-left: 10px;
    margin-top: -3px;
    transform: rotate(135deg);
    transition: transform 0.5s ease;
    transform-origin: cente;
}
  
.header__item-btn.is-active {
    color:var(--color-white);    
}
  
.header__item-btn.is-active::after {
    transform: rotate(-45deg) translateY(4px);
}
  
.header__item-btn:active {
    color: var(--two);
}

.header__item-heading{
    font-size: 18px;
    font-weight: 400;

}
  
.header__dropdown {
    display: none;
    padding: 40px 20px 40px 40px;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.header__dropdown-wrap {
    width: 240px;
    max-height: 220px;
}
  
.header__dropdown.is-active {
    position: absolute;
}
  
.header__dropdown > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
  
.header__dropdown.is-active {
    display: block;
    animation-name: dropdownOpen;
    animation-duration: 0.4s;
}
  
.header__dropdown.is-disabled {
    display: block;
    animation-name: dropdownClose;
    animation-duration: 0.4s;
}
  
.header__drop-list {
    list-style: none;
    padding-left: 0;
}
  
.header__dropdown-item {
    width: 220px;
}
  
.header__dropdown-item:not(:last-child) {
    margin-bottom: 20px;
}
  
.header__item-link {
    display: block;
    padding: 10px 15px;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-pink);
    transition: border-color,background-color .3s ease;
}

.header__item-link_tintoretto{
    background-image: url(../img/item-link_tintoretto.jpg);
}

.header__item-link_fridrich{
    background-image: url(../img/item-link_fridrich.jpg);
}

.header__item-link_leo{
    background-image: url(../img/item-link_leo.jpg);
}

.header__item-link_verq{
    background-image: url(../img/item-link_verq.jpg);
}
  
.header__item-link:hover,
.header__item-link:active {
    border-color: var(--color-purple-2);
}

.header__item-link:focus {
    border-color: var(--color-purple-4);
    background-color: rgba(194, 131, 243, 0.4);    
}

.header__dropdown .simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: #000;
}
  
.header__dropdown
.simplebar-track.simplebar-vertical
.simplebar-scrollbar:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
}
  
@keyframes dropdownOpen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes dropdownClose {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.header__search {
    position: relative;
    height: 100%;
}

.header__search-btn {
    position: absolute;
    left: -35px;
    bottom: 0;
    height: 22px;
    width: 22px;
    background-image: url(../img/icon-search.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.header__search-field{
    font-size: 18px;

    color: var(--color-white);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-white);
}

.header__search-field::-webkit-input-placeholder{
    color: var(--color-white);
}



  
/*временно*/
.test {
    width: 100vw;
    height: 800px;
    background-image: url(../img/hero_1.jpg);
    background-position: center;
    background-size: cover;
}

